<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-3">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="container" style="display: flex; flex-direction: row; align-items: flex-start;">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">All Salaries</h3>
            </div>
            <div class="card-header bg-transparent border-0 container">
                <input class="form-control" [(ngModel)]="filterText" id="filterText" type="text" placeholder="Search worker salaries">
            </div>
            <div class="card-header bg-transparent border-0 container" >
              <button (click)="openModal(templateadd)" class="btn btn-primary">Create</button>
            </div>
        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Worker Name</th>
                <th scope="col">Worker Surname</th>
                <th scope="col">Salary Amount</th>
                <th scope="col">Salary Date</th>
                <th scope="col">Daily Working Time</th>
                <th scope="col">Hour Salary</th>
                <th scope="col">Start Time</th>
                <th scope="col">HR Name</th>
                <th scope="col">HR Surname</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let salary of workerSalaryDto | filterPipe : filterText">
                <td>{{ salary.workerName }}</td>
                <td>{{ salary.workerSurname }}</td>
                <td>{{ salary.salaryAmount }} </td>
                <td>{{ salary.salaryDate}}</td>
                <td>{{ salary.dailyWorkingTime }}</td>
                <td>{{ salary.hourSalary | currency  }}</td>
                <td>{{ salary.startDate }}</td>
                <td>{{ salary.name }}  </td>
                <td>{{ salary.surname}}</td>
                <td>
                    <button (click)="openModal(templateupdate,salary)" class="btn btn-primary">Update</button>
                </td>                   
              </tr>     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateadd>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Salary</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="salaryForm">
        <div class="mb-3">
          <label >Worker</label>
          <select formControlName="WorkerID" class="form-control">
            <option *ngFor="let w of worker" [value]="w.workerID">{{w.workerName}} {{w.workerSurname }}</option> 
          </select>
        </div>
        <div class="mb-3">
          <label >User</label>
          <select formControlName="UserID" class="form-control">
            <option *ngFor="let u of users" [value]="u.userID">{{u.name}} {{u.surname}}</option> 
          </select>
        </div>
        <div class="mb-3">
          <label>Salary Amount</label>
          <input type="number" formControlName="SalaryAmount" class="form-control" placeholder="Enter the salary amount">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="addSalary()" class="btn btn-primary" placeholder="Submit">
        </div>
        
    </form>
</div>
</ng-template>

<ng-template #templateupdate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Salary</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="salaryForm">
        <div class="mb-3">
            <label>Worker Name</label>
            <input [(ngModel)]="salaryDto.workerName" disabled="true" type="text" formControlName="WorkerName" class="form-control">
        </div>
        <div class="mb-3">
          <label>Worker Surname</label>
          <input [(ngModel)]="salaryDto.workerSurname" disabled="true" type="text" formControlName="WorkerSurname"class="form-control">
      </div>
        <div class="mb-3">
          <label>HR Name</label>
          <input [(ngModel)]="salaryDto.name" disabled="true" type="text" formControlName="UserName" class="form-control">
        </div>
        <div class="mb-3">
          <label>HR Surname</label>
          <input [(ngModel)]="salaryDto.surname" disabled="true" type="text" formControlName="UserSurname" class="form-control">
        </div>
        <div class="mb-3">
          <label>Salary Amount</label>
          <input [(ngModel)]="salaryDto.salaryAmount"  type="text" formControlName="SalaryAmount" class="form-control" placeholder="Enter the compensation amount">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="updateSalary()" class="btn btn-primary" placeholder="Submit">
        </div>
        
    </form>
</div>
</ng-template>



