/* .shuttle-left {
    float: left;
    width: 35%;
    height: 250px;
  }
  
  .shuttle-right {
    float: right;
    width: 35%;
    height: 250px;
  }
  
  .shuttle-btns {
    float: left;
    margin-left: 6%;
    padding-top: 15%;
  }
  
  .cancel {
    margin-left: 5px;
    cursor: pointer;
  }
  
  .shuttle-left-narrow {
    height: 250px;
    width: 20%;
    float: left;
  }
  
  .shuttle-right-wide {
    height: 250px;
    width: 65%;
    float: right;
  }
  
  .steps {
    margin-bottom: 10px;
  }
  
  .shuttle-full {
    width: 90%;
    height: 250px;
  } */


