<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="container" style="display: flex; flex-direction: row; align-items: flex-start;">
          <div class="card-header bg-transparent border-0" style="margin-right: 300px;">
            <h3 class="text-white mb-0">All Operation Claims</h3>
          </div>
          <div class="card-header bg-transparent border-0 container">
            <input class="form-control" [(ngModel)]="filterText" id="filterText" type="text" placeholder="Search Operation Claims">
          </div>
          <div class="card-header bg-transparent border-0 container" >
            <button (click)="openModal(template)" class="btn btn-primary">Create</button>
          </div>
        </div> 
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Operation Claim Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let o of operationClaim | filterPipe : filterText">
                <td>{{ o.operationClaimName }}</td>
                <td>
                    <div class="row">
                        <button (click)="deleteWorker(worker)" class="btn btn-danger">Delete</button>
                        <button (click)="openModal(templateUpdate)" class="btn btn-primary">Update</button>
                    </div>
                </td>                 
              </tr>     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Operation Claim</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="operationClaimForm">
        <div class="mb-3">
            <label for="workerName">Operation Claim Name</label>
            <input type="text" formControlName="operationClaimName" class="form-control" placeholder="Enter the claim name">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="addOperationClaim()" class="btn btn-primary" placeholder="Submit">
        </div>
    </form>
</div>
</ng-template>

<ng-template #templateUpdate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Operation Claim</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="operationClaimForm">
        <div class="mb-3">
            <label for="workerName">Operation Claim Name</label>
            <input [value]="o.operationClaimName" [ngModel]="o.operationClaimID" type="text" formControlName="operationClaimName" class="form-control">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="updateOperationClaim()" class="btn btn-primary" placeholder="Submit">
        </div>
    </form>
</div>
</ng-template>


