<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="container">
          <div class="row">
            <div class="card-header bg-transparent border-0 col-sm" >
              <h3 style="font-weight: bold;font-size: large; " class="text-white mb-0">All Operation Claims</h3>
            </div>
            <div class="card-header bg-transparent border-0 col-xl ">
              <input class="form-control" [(ngModel)]="filterText" id="filterText" type="text" placeholder="Search Operation Claims">
            </div>
            <div  class="card-header bg-transparent border-0 col-sm">
              <button (click)="openModal(template)" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div> 
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th style="font-weight: bold;font-size: medium;" scope="col">Operation Claim Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let oc of operationClaims | filterPipe : filterText" >
                <td style="font-size: large; font-weight: bold;">{{ oc.operationClaimName }}</td>
                <td class="d-flex justify-content-end" >
                    <button (click)="openModalUpdate(templateUpdate, oc)" class="btn btn-primary">Update</button>
                </td>                 
              </tr>     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- USER OPERATİON CLAİM TABLE -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="container">
          <div class="row">
            <div class="card-header bg-transparent border-0 ">
              <h3 style="font-weight: bold;font-size: large; "  class="text-white mb-0">All User Claims</h3>
            </div>
            <div class="card-header bg-transparent border-0 container" >
              <button (click)="openModal(templateUAddUserOperationClaim)" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div> 
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th style="font-weight: bold;font-size: medium;" scope="col">User Name</th>
                <th style="font-weight: bold;font-size: medium;" scope="col">User Surname</th>
                <th style="font-weight: bold;font-size: medium;" scope="col">Operation Claim Name</th>
                <th style="font-weight: bold;font-size: medium;" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userOperationClaimDto">
                <td style="font-size: large; font-weight: bold;">{{ user.userName }}</td>
                <td style="font-size: large; font-weight: bold;">{{ user.userSurname }}</td>
                <td style="font-size: large; font-weight: bold;">{{ user.operationClaimName }}</td>
                <td class="d-flex justify-content-end">
                    <button (click)="deleteUserOperationClaim(user)" class="btn btn-danger">Delete</button>
                    <button (click)="openModalUpdateUserOperationClaim(templateUpdateUserOperationClaim, user)" class="btn btn-primary">Update</button>
                </td>                 
              </tr>     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Operation Claim</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="operationClaimForm">
        <div class="mb-3">
            <label>Operation Claim Name</label>
            <input type="text" formControlName="OperationClaimName" class="form-control" placeholder="Enter the claim name">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="addOperationClaim()" class="btn btn-primary" placeholder="Submit">
        </div>
    </form>
</div>
</ng-template>

<ng-template #templateUpdate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Operation Claim</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="operationClaimForm">
        <div class="mb-3">
            <label>Operation Claim Name</label>
            <input [(ngModel)]="operationClaim.operationClaimName" type="text" formControlName="OperationClaimName" class="form-control">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="updateOperationClaim()" class="btn btn-primary" placeholder="Submit">
        </div>
    </form>
</div>
</ng-template>

<ng-template #templateUAddUserOperationClaim>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add User Operation Claim</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userOperationClaimForm">
        <div class="mb-3">
          <label >User Informations</label>
          <select formControlName="UserID" class="form-control">
            <option [value]="" disabled selected >Select User</option>
            <option *ngFor="let user of users" [value]="user.userID">{{user.name}} {{user.surname }}</option> 
          </select>
        </div>
        <div class="mb-3">
          <label >Operation Claims</label>
          <select formControlName="OperationClaimID" class="form-control">
            <option *ngFor="let oc of operationClaims" [value]="oc.operationClaimID">{{oc.operationClaimName}}</option> 
          </select>
        </div>
        <div class="mb-3">
            <input type="submit" (click)="addUserOperationClaim()" class="btn btn-primary" placeholder="Submit">
        </div>
    </form>
</div>
</ng-template>

<ng-template #templateUpdateUserOperationClaim>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update User Operation Claim</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="userOperationClaimUpdateForm">
        <div class="mb-3">
          <label >User Informations</label>
          <select formControlName="UserID" class="form-control" >
            <option [value]="" disabled selected >Select User</option>
            <option *ngFor="let user of users" [value]="user.userID">{{user.name}} {{user.surname }}</option> 
          </select>
        </div>
        <div class="mb-3">
          <label >Operation Claims</label>
          <select formControlName="OperationClaimID" class="form-control">
            <option *ngFor="let oc of operationClaims" [value]="oc.operationClaimID">{{oc.operationClaimName}}</option> 
          </select>
        </div>
        <div class="mb-3">
            <input type="submit" (click)="updateUserOperationClaim()" class="btn btn-primary" placeholder="Submit">
        </div>
    </form>
</div>
</ng-template>


