<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-3">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="container" style="display: flex; flex-direction: row; align-items: flex-start;">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">All Project Section Worker Working Times</h3>
            </div>
            <div class="card-header bg-transparent border-0 container">
                <input class="form-control" [(ngModel)]="filterText" id="filterText" type="text" placeholder="Search worker">
            </div>
        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Worker Name</th>
                <th scope="col">Worker Surname</th>
                <th scope="col">Daily Start Hour</th>
                <th scope="col">Dialy Finish Hour</th>
                <th scope="col">Project</th>
                <th scope="col">Project Section Name</th>
                <th scope="col">Department Type Name</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pwdto of projectWorkerWorkingTimeDto | filterPipe : filterText">
                <td>{{ pwdto.projectName }}</td>
                <td>{{ pwdto.subject }}</td>
                <td>{{ pwdto.projectBudget }} </td>
                <td>{{ pwdto.minWorkerCount}}</td>
                <td>{{ pwdto.maxWorkerCount }}</td>
                <td>{{ pwdto.activeWorkerCount }}</td>
                <td>{{ pwdto.totalDeclaredTime }}</td>
                <td>{{ pwdto.remainingProjectTime }}  </td>                  
              </tr>     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>





