<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row mt-3">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="container" style="display: flex; flex-direction: row; align-items: flex-start;">
            <div class="card-header bg-transparent border-0">
                <h3 class="text-white mb-0">All Project Section Worker Working Times</h3>
            </div>
            <div class="card-header bg-transparent border-0 container">
                <input class="form-control" [(ngModel)]="filterText" id="filterText" type="text" placeholder="Search worker">
            </div>
        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Worker Name</th>
                <th scope="col">Worker Surname</th>
                <th scope="col">Daily Start Hour</th>
                <th scope="col">Daily Finish Hour</th>
                <th scope="col">Project Name</th>
                <th scope="col">Project Section Name</th>
                <th scope="col">Department Type Name</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pwdto of projectWorkerWorkingTimeDto">
                <td>{{ pwdto.workerName }}</td>
                <td>{{ pwdto.workerSurname }}</td>
                <td>{{ pwdto.dailyStartHour }} </td>
                <td>{{ pwdto.dailyFinishHour}}</td>
                <td>{{ pwdto.projectName }}</td>
                <td>{{ pwdto.projectSectionName }}</td>
                <td>{{ pwdto.departmentTypeName }}</td>
                <td>{{ pwdto.date }}  </td>     
                <td>
                  <button (click)="openModal(templateupdate, pwdto)" class="btn btn-primary">Update</button>
                </td>               
              </tr>     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateupdate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Project Worker Working Time</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <form [formGroup]="projectWorkerWorkingTimeForm">
        <div class="mb-3">
          <label>Date</label>
          <input formControlName="Date" type="text" [value]="projectWorkerWorkingTimeDtoSingle.date" disabled="true" class="form-control">
        </div>
        <div class="mb-3">
          <label >Worker</label>
          <select formControlName="ProjectWorkerID" class="form-control" disabled>            
            <option [value]="projectWorkerWorkingTimeDtoSingle.workerID">{{projectWorkerWorkingTimeDtoSingle.workerName}} {{projectWorkerWorkingTimeDtoSingle.workerSurname }}</option> 
          </select>
        </div>
        <div class="mb-3">
          <label>Daily Start Hour</label>
          <input type="text" [value]="projectWorkerWorkingTimeDtoSingle.dailyStartHour" formControlName="DailyStartHour" class="form-control" placeholder="Enter the daily start hour">
        </div>
        <div class="mb-3">
          <label>Daily Finish Hour</label>
          <input type="text" [value]="projectWorkerWorkingTimeDtoSingle.dailyFinishHour"formControlName="DailyFinishHour" class="form-control" placeholder="Enter the daily finish hour">
        </div>
        
        <div class="mb-3">
            <input type="submit" (click)="updateProjectWorkerWorkingTimes()" class="btn btn-primary" placeholder="Submit">
        </div>
    </form>
  </div>
</ng-template>







