<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Dark table -->
  <div class="row">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="container" >
          <div class="row">
            <div class="card-header bg-transparent border-0 col-sm">
                <h3 class="text-white mb-0" style="font-weight: bold;font-size: large;">All Department Types</h3>
            </div>
            <div class="card-header bg-transparent border-0 col-sm" >
              <button style="font-size: large; font-weight: bold;" (click)="openModal(templateadd)" class="btn btn-primary">Create</button>
            </div>
          </div>
        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th style="font-weight: bold;font-size: medium;" scope="col">Department Type Name</th>
                <th style="font-weight: bold;font-size: medium;" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dep of departmentTypes">
                <td style="font-size: large; font-weight: bold;">{{ dep.departmentTypeName }}</td>
                <td class="d-flex justify-content-end">
                    <button (click)="openModal(templateupdate, dep)" class="btn btn-primary" style="font-size: large; font-weight: bold;">Update</button>
                </td>                   
              </tr>     
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateadd>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Department Type</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="departmentTypeForm">
        <div class="mb-3">
            <label >Department Type Name</label>
            <input type="text" formControlName="DepartmentTypeName" class="form-control" placeholder="Enter the department Type name">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="addDepartmentTypes()" class="btn btn-primary" placeholder="Submit">
        </div>      
    </form>
</div>
</ng-template>

<ng-template #templateupdate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Update Department Type</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="departmentTypeForm">
        <div class="mb-3">
            <label>Department Type Name</label>
            <input [(ngModel)]="department.departmentTypeName" type="text" formControlName="DepartmentTypeName" class="form-control">
        </div>
        <div class="mb-3">
            <input type="submit" (click)="updateDepartmentTypes()" class="btn btn-primary" placeholder="Submit">
        </div>
        
    </form>
</div>
</ng-template>


